@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'VT323', monospace;
    justify-content: space-between;
    background-color: white;
    border-top: none;
    font-size: 1.5em;
}

main {
    text-align: center;
}

a {
    color:rgb(200, 200, 200);
}

img {
    width: 4em;
}

p {
    margin-top: 0;
}

#left, #right, main {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

#right {
    align-items: flex-end;
}

#left > img {
    transform: rotate(90deg);
}

#left > img:hover {
    cursor: pointer;
}

#right > img {
    transform: rotate(270deg);
    justify-self: flex-end;
    cursor: not-allowed;
}

footer {
    background-color: rgb(200, 200, 200);
    color: white;
    font-family: verdana;
    font-size: 0.7em;
    text-align: center;
    padding: 10px;
    font-size: 0.25em;
    border-radius: 5px;
    margin: 20px;
}

footer a {
    color: white;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

td {
    border-bottom: 1px solid rgb(200, 200, 200);
}

tr.last > td {
    border: none;
}

.man, .machine {
    font-size: 1.5em;
    width: 100%;
}

.man {
    color: #1288FF;
    text-align: right;
}

.machine {
    color: #FF3822;
}

.head {
    border-radius: 50%;
    border: 5px solid;
    height: 4em;
    width: 4em;
    background-size: contain;
}

.head > p {
    opacity: 1;
    font-weight: bold;
}

.human {
    border-color: #1288FF;
}

.robot {
    border-color: #FF3822;
}

.head.human {
    background-image: url('../images/human/head.jpeg');
    align-self: flex-end;
    
}

.head.robot {
    background-image: url('../images/robot/head.jpeg');
    align-self: flex-start;
}

#score {
    font-size: 2em;
    margin: 0;
}

.badge {
    border-radius: 50%;
    height: 1em;
    width: 1em;
    border: 5px solid;
    border-color:rgb(200, 200, 200);
    justify-self: center;
    margin: 5px 0;
    background-size: contain;
}

.move-left {
    transform: translate(-100px, 0);
}

.move-right {
    transform: translate(100px, 0);
}